.peer-players {
  text-align: center;
}

.peer-player {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 1em 2em;
  padding: 1em;

  font-size: 32px;
}

.previous-cards {
  clear: both;
  border: 1px solid #ddd;
  min-height: 15em;
  margin: 2em auto;
}

.my-cards button, .my-cards .message {
  font-size: 24px;
  margin: .5em 1em;
}

.cards {
  overflow: auto;
}

.card {
  float: left;
  border: 1px solid #ddd;

  padding: 2em 1em;
  margin: .2em;
}

.card.selected {
  background-color: #ddd
}

.card-suit {
  font-size: 32px;
}

.card-rank {
  font-size: 24px;
  font-weight: bold;
}
